body {
  margin: 0;
  padding: 0;
}
.container {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.image-wrapper {
  position: relative;
}
.image-wrapper img {
  width: 100%;
}
.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 100px;
  color: #bababa;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
}
.heart.active {
  color: #e74c3c;
}
